In [6]:
import numpy as np # linear algebra
import pandas as pd
import os 
for dirname, _, filenames in os.walk('C:/Users/Udhaya/Desktop/archive (2)'):
    for filename in filenames[:5]:
        print(os.path.join(dirname, filename))

C:/Users/Udhaya/Desktop/archive (2)\cars_test\cars_test\00001.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_test\cars_test\00002.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_test\cars_test\00003.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_test\cars_test\00004.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_test\cars_test\00005.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_train\cars_train\00001.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_train\cars_train\00002.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_train\cars_train\00003.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_train\cars_train\00004.jpg
C:/Users/Udhaya/Desktop/archive (2)\cars_train\cars_train\00005.jpg
C:/Users/Udhaya/Desktop/archive (2)\car_devkit\devkit\cars_meta.mat
C:/Users/Udhaya/Desktop/archive (2)\car_devkit\devkit\cars_test_annos.mat
C:/Users/Udhaya/Desktop/archive (2)\car_devkit\devkit\cars_train_annos.mat
C:/Users/Udhaya/Desktop/archive (2)\car_devkit\devkit\eval_train.m
C:/Users/Udhaya/Desktop/archive (2)\car_devkit\devkit\README.txt

In [7]:
from pathlib import Path
import glob
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.io import loadmat
from PIL import Image
import os

In [8]:
car_devkit=Path('C:/Users/Udhaya/Desktop/archive (2)/car_devkit')
car_test=Path('C:/Users/Udhaya/Desktop/archive (2)/cars_test/cars_test')
car_train=Path('C:/Users/Udhaya/Desktop/archive (2)/cars_train/cars_train')


cars_metadata=loadmat('C:/Users/Udhaya/Desktop/archive (2)/car_devkit/devkit/cars_meta.mat')
cars_train_annos=loadmat('C:/Users/Udhaya/Desktop/archive (2)/car_devkit/devkit/cars_train_annos.mat')
cars_test_annos=loadmat('C:/Users/Udhaya/Desktop/archive (2)/car_devkit/devkit/cars_test_annos.mat')

In [9]:
cars_meta=[]
for x in cars_metadata['class_names'][0]:
    cars_meta.append(x)
    
cars_classes=pd.DataFrame(cars_meta,columns=['cars_classes_exist_in_data'])
cars_classes

           cars_classes_exist_in_data
0          AM General Hummer SUV 2000
1                 Acura RL Sedan 2012
2                 Acura TL Sedan 2012
3                Acura TL Type-S 2008
4                Acura TSX Sedan 2012
..                                ...
191  Volkswagen Beetle Hatchback 2012
192          Volvo C30 Hatchback 2012
193              Volvo 240 Sedan 1993
194               Volvo XC90 SUV 2007
195     smart fortwo Convertible 2012

[196 rows x 1 columns]

In [31]:
fname=[[x.flatten()[0] for x in i]  for i in cars_train_annos['annotations'][0]]
column_list=['bbox_x1','bbox_y1','bbox_x2','bbox_y2','class','fname']
train_df=pd.DataFrame(fname,columns=column_list)
train_df['class']=train_df['class'] - 1 ### all values start from zero because above class_classes df index for classes started from zero hence.
train_df['fname']=[car_train/i for i in train_df['fname']]
train_df.head()

,bbox_x1,bbox_y1,bbox_x2,bbox_y2,class,fname
0,39,116,569,375,13,C:\Users\Udhaya\Desktop\archive (2)\cars_train...
1,36,116,868,587,2,C:\Users\Udhaya\Desktop\archive (2)\cars_train...
2,85,109,601,381,90,C:\Users\Udhaya\Desktop\archive (2)\cars_train...
3,621,393,1484,1096,-123,C:\Users\Udhaya\Desktop\archive (2)\cars_train...
4,14,36,133,99,105,C:\Users\Udhaya\Desktop\archive (2)\cars_train...

In [32]:
train_df=train_df.merge(cars_classes,left_on='class',right_index=True)
train_df=train_df.sort_index()
train_df

,bbox_x1,bbox_y1,bbox_x2,bbox_y2,class,fname,cars_classes_exist_in_data
0,39,116,569,375,13,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Audi TTS Coupe 2012
1,36,116,868,587,2,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Acura TL Sedan 2012
2,85,109,601,381,90,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Dodge Dakota Club Cab 2007
4,14,36,133,99,105,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Ford F-450 Super Duty Crew Cab 2012
5,259,289,515,416,122,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Geo Metro Convertible 1993
...,...,...,...,...,...,...,...
8134,53,44,430,293,84,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Dodge Caravan Minivan 1997
8136,30,287,999,658,16,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Audi 100 Sedan 1994
8139,3,44,423,336,77,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Chrysler Town and Country Minivan 2012
8142,78,526,1489,908,111,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Ford GT Coupe 2006
8143,20,240,862,677,16,C:\Users\Udhaya\Desktop\archive (2)\cars_train...,Audi 100 Sedan 1994

In [33]:
import os 
import zipfile

zf=zipfile.ZipFile('Stanford Cars Dataset simplified.zip',mode='w')

try:
    for i in train_df.index:
        try:
            name=train_df['cars_classes_exist_in_data'][i]
            #print(name)
            file_path=train_df['fname'][i]
            file_name=os.path.basename(train_df['fname'][i])
            short_name=name.split(" ")[0]
            zf.write(file_path,os.path.join(short_name,file_name),zipfile.ZIP_DEFLATED)
        except Exception as exc:
            print(str(exc))
            pass
finally:
    print('closing')
    zf.close()

closing

In [14]:
import zipfile

with zipfile.ZipFile('Stanford Cars Dataset simplified.zip', 'r') as zip_ref:
    zip_ref.extractall('extracted_files')

In [25]:
train_df['cars_classes_exist_in_data_x']

0       C:\Users\Udhaya\Desktop\archive (2)\cars_train...
1       C:\Users\Udhaya\Desktop\archive (2)\cars_train...
2       C:\Users\Udhaya\Desktop\archive (2)\cars_train...
4       C:\Users\Udhaya\Desktop\archive (2)\cars_train...
5       C:\Users\Udhaya\Desktop\archive (2)\cars_train...
                              ...
8134    C:\Users\Udhaya\Desktop\archive (2)\cars_train...
8136    C:\Users\Udhaya\Desktop\archive (2)\cars_train...
8139    C:\Users\Udhaya\Desktop\archive (2)\cars_train...
8142    C:\Users\Udhaya\Desktop\archive (2)\cars_train...
8143    C:\Users\Udhaya\Desktop\archive (2)\cars_train...
Name: cars_classes_exist_in_data_x, Length: 5331, dtype: object

In [36]:
import os
import shutil
from pathlib import Path
from scipy.io import loadmat

# Set paths to the data directories and metadata files
car_devkit = Path('C:/Users/Udhaya/Desktop/archive (2)/car_devkit')
car_train = Path('C:/Users/Udhaya/Desktop/archive (2)/cars_train/cars_train')
cars_metadata = loadmat(car_devkit / 'devkit' / 'cars_meta.mat')
cars_train_annos = loadmat(car_devkit / 'devkit' / 'cars_train_annos.mat')

# Get the list of class names from the metadata file
class_names = [c[0] for c in cars_metadata['class_names'][0]]

# Create a subdirectory for each class
for class_name in class_names:
    os.makedirs(car_train / class_name, exist_ok=True)

# Move the images to their respective class directories
for i in range(len(cars_train_annos['annotations'][0])):
    filename = cars_train_annos['annotations'][0][i][5][0]
    class_name = class_names[cars_train_annos['annotations'][0][i][4][0].item()-1]
    src_path = car_train / filename
    dst_path = car_train / class_name / filename
    shutil.move(src_path, dst_path)

In [9]:
import os
import shutil
import random

# Set the paths for the original dataset and the output folders
input_folder = "C:/Users/Udhaya/Desktop/archive (2)/cars_train/cars_train"
output_folder_1 = "C:/Users/Udhaya/Desktop/archive (2)/cars_train/cars_train (1)"
output_folder_2 = "C:/Users/Udhaya/Desktop/archive (2)/cars_train/cars_valid"

# Set the desired split ratio
split_ratio = 0.9 # 80% train and 20% test

# Create the output folders if they don't exist
if not os.path.exists(output_folder_1):
    os.makedirs(output_folder_1)
if not os.path.exists(output_folder_2):
    os.makedirs(output_folder_2)
for subfolder in os.listdir(input_folder):
    subfolder_path = os.path.join(input_folder, subfolder)
    

# Get a list of all image files in the input folder
    # Get a list of all image files in the subdirectory with the extensions .jpg, .jpeg, .png, .ppm, .bmp, .pgm, .tif, .tiff, .webp, and .gif
    files = [f for f in os.listdir(subfolder_path) if os.path.isfile(os.path.join(subfolder_path, f)) and f.lower().endswith(('.jpg', '.jpeg', '.png', '.ppm', '.bmp', '.pgm', '.tif', '.tiff', '.webp', '.gif'))]


# Shuffle the files randomly
    random.shuffle(files)

# Calculate the number of files for each output folder based on the split ratio
    split_index = int(len(files) * split_ratio)
    num_files_1 = split_index
    num_files_2 = len(files) - split_index
    subfolder_output_folder_1 = os.path.join(output_folder_1, subfolder)
    subfolder_output_folder_2 = os.path.join(output_folder_2, subfolder)
    os.makedirs(subfolder_output_folder_1, exist_ok=True)
    os.makedirs(subfolder_output_folder_2, exist_ok=True)

# Copy the files to the output folders based on the split ratio
    for i in range(num_files_1):
        shutil.copy(os.path.join(subfolder_path, files[i]), os.path.join(subfolder_output_folder_1, files[i]))
    for i in range(num_files_1, len(files)):
        shutil.copy(os.path.join(subfolder_path, files[i]), os.path.join(subfolder_output_folder_2, files[i]))